


@media (max-width: 768px){
	.menu{
		display: none;
	}
	.menu2{
		width: 100wh;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .7);
		height: 100vh;
		width: 100%;
		z-index: 1111111111;
		position: fixed;

	}
	.menu2 ul{
		width: 50%;
		margin: 50px auto;
		display: block;
		background-color:#2a93d8 ;
		padding: 50px 25px;
		text-align: center;
		height: 70%;
		border-radius: 30px 0px 0px 30px;
	}
	.menu2 ul li{
		width: 100%;
		margin: 25px 0;
		padding-bottom: 5px;
		border-bottom: 1px solid gray;
	}
	.menu2 ul li a:hover{
		padding-bottom: 5px;
		border-bottom: 5px solid gray;
		color: black;
	}
	.time-out{
		display: block;
		color: white;
		font-size: 30px;
		position: absolute;
		top: 50px;
		left: 30px;
	}
	.bar{
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 30px;
	display: block;
	}

	.banner-content{
	width: 100%;
	margin:20px 0;
	background-color: rgba(0, 0, 0, .2);
	transform: translate(0%, 10%);
	}
	.Purchase-area{
	width: 50%;
	}

	.short-profile:nth-child(3){
		border-bottom: 0;
	}
	.short-profile{
	border-bottom: 1px solid lightgray;
	}
	.portfolio-img{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
	.portfolio-img{}
	.read-area .flex-box{
		display: block;
	}
	.reading-img{
	width: 100%
	}
	.read-text{
	width: 100%;
	margin: 50px 0;
	}
	.Features-heading{
	width: 100%;
	margin: 25px auto;
	}

	.Download-area .flex-box{
		display: block;
	}
	.title p{
	width:100%;
	}
	.title-box{
	width: 100%;
	margin-top: 50px;
	text-align: center;
	}
	.fill-area{
	width: 100%;
	text-align: center;
	}
	input{
	width: 90%;
	}
	select{
	width: 90%;
	}
	.review-area{
	width: 100%;
	margin-top: 40px;
	}
	.image-download{
		width: 60%;
		margin: 0 auto;
	}
	.image-download button{
		padding: 5px 0;
		font-size: 16px;
	}

	.author-box{
		width: 50%;
	}
	.counter-area .flex-box{
		display: block;
	}
	.counts{
	width:80%;
	text-align: center;
	margin: 40px auto;
	}
	.count h3{
		font-size: 36px;
	}
	.count p{
	font-size: 25px;
	}



}



@media (max-width: 400px){
	.logo{
		width: 70%;
	}
	.logo img{
		width: 100%;
	}
	.menu2 ul{
		width: 70%;
	}
	.bar{
	top: 30px;
	right: 30px;
	font-size: 25px;
	}


	.profile-area{
	width: 20%;
	margin: 50px 0;
	}
	.author-profile img{
	width: 120px;
	height: 100px;
	padding: 5px;
	}
	.author-text-area{
	width: 75%;
	}
	.author-box{
	width: 50%;
	}
	.counts{
	width:60%;
	}
	.count h3{
	font-size: 25px;
	font-weight: 600;
	}
	.count p{
	font-size: 18px;
	}
	




	.footer-box{
		display: block;
	}

	.left-logo{
		width: 50%;
		text-align: center;
		margin: 0 auto;
	}
	.footer-right{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	}
}